<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <base href="/" >

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/src/css/fonts.css" >
    <link rel="stylesheet" href="/static/src/css/materialize.min.css">
    <link rel="stylesheet" href="/static/src/css/sagi.css"/>
    <link rel="stylesheet" href="/static/src/css/custom.css"/>
    <link rel="stylesheet" href="/static/src/css/messages.css"/>

</head>
<body>
    <div id="app" class="h-f-s"></div>
    <script  src="/static/src/vendor/jquery-2.2.3.min.js"></script>
    <script  src="/static/src/vendor/materialize.min.js"></script>
    <script  src="/static/build/bundle.js"></script>
</body>
</html>